[Unit]
Description=Tilly The Printer Bot - Slack Printer Service
After=network.target

[Service]
Type=simple
Environment=SLACK_AUTH_TOKEN=NOT_SET_YET
EnvironmentFile=-/etc/default/tillyprinterbot
WorkingDirectory=/usr/share/printerbot
# Get the latest changes... but dont worry if it fails
ExecStartPre=-/usr/bin/git pull
# TODO: ensure dependencies are up-to-date
#ExecStartPre=/usr/bin/bash -lc 'bundle install'
ExecStart=/usr/local/bin/printerbot

[Install]
WantedBy=multi-user.target
